# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
env/
venv/
*.egg-info/

# Distribution / packaging
build/
dist/
*.egg
*.egg-info/
.installed.cfg
*.wheel

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/
.dmypy.json
dmypy.json

# Coverage reports
.coverage
*.cover
coverage.xml
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.temp
*.tmp
*.swp
*.swo

# IDE / Editor-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables or secrets
.env
.env.*
